@using Microsoft.AspNetCore.Mvc.Rendering;

@model TatlilarModel


<div class="container shadow p-5">

    <form method="post" enctype="multipart/form-data" asp-action="YemekEkle">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Yemek Ekle</h2>
                <hr />
            </div>

            <div class="mb-3 row">
                <label asp-for="Isim">Tarif Adı</label>
                <input type="text" asp-for="Isim" class="form-control" />
                <span asp-validation-for="Isim" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="KategoriId" class="col-sm-2 col-form-label">Kategori</label>
                <div class="col-sm-10">
                    <select asp-for="KategoriId" class="form-select" aria-label="">
                        <option value="">-- Kategori Seçiniz --</option>
                        @foreach (var kategori in ViewBag.Kategoriler)
                        {
                            <option value="@kategori.Id">@kategori.Ad</option>
                        }
                    </select>
                    <span asp-validation-for="KategoriId" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Malzemeler">Malzemeler</label>
                <input type="text" asp-for="Malzemeler" class="form-control" />
                <span asp-validation-for="Malzemeler" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label>Yapılış</label>
                <input type="text" asp-for="Yapilis" class="form-control" />
                <span asp-validation-for="Yapilis" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="Kackisilik">Kaç Kişilik</label>
                <input type="text" asp-for="Kackisilik" class="form-control" />
                <span asp-validation-for="Kackisilik" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="YapilisSuresi">Yapılış Süresi (Hazırlama-Pişirme vs)</label>
                <input type="text" asp-for="YapilisSuresi" class="form-control" />
                <span asp-validation-for="YapilisSuresi" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="Aciklama">Açıklama</label>
                <input type="text" asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label asp-for="YouTubeLink"></label>
                <input type="text" asp-for="YouTubeLink" class="form-control" />
                <span asp-validation-for="YouTubeLink" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="file" class="form-control custom-file-input" asp-for="GorselYol" placeholder="Ürün fotoğrafını seçiniz." />
                <label asp-for="GorselYol" class="custom-file-label">Tatlı Görseli</label>
                <span asp-validation-for="GorselYol" class="alert-danger"></span>
            </div>

            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Yemeği Ekle</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary form-control">
                        Ana Sayfaya Geri Dön
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });

</script>

