@model Kategoriler
@{
    ViewData["Title"] = "Kategori Sil";
}

<div class="container shadow p-5">
    <div class="row  pb-2">
        <h1>Kategori Sil</h1>
    </div>


    <form method="post" class="form-floating" asp-action="DeleteCategory">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Id" readonly />
            <label asp-for="Id"></label>
            <span asp-validation-for="Id" class="alert-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Ad" readonly />
            <label asp-for="Ad"></label>
            <span asp-validation-for="Ad" class="alert-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger">Kategori Sil</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Geri Dön</a>
    </form>
</div>