@model IEnumerable<Tatlilar>

@{
    ViewData["Title"] = "Ana Sayfa";
}

<style>
    /* Özel stiller */
    .card {
        border: none;
        transition: transform 0.3s;
        width: 100%;
        max-width: 300px; /* Kartların maksimum genişliği */
    }

        .card:hover {
            transform: translateY(-5px);
        }

    .card-title {
        color: #333;
    }

    .card-text {
        color: #666;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <!-- Boşlukları azaltmak için "g-2" kullandık -->
        @foreach (var item in Model)
        {
            var Gorsel = "~/Gorseller/Tatlilar/" + (item.YemekGorsel ?? "noimage.jpg");

            <div class="col">
                <div class="card h-100 shadow">
                    <img src="@Gorsel" class="card-img-top" alt="..." asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title">@item.Isim</h5>
                        <p class="card-text">@item.Kackisilik Kişilik</p>
                        <a asp-controller="Home" asp-action="Detay" asp-route-id="@item.Id" class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
